{% extends 'base.html' %}

{% block content %}

    <main>
        <table>
            <tr> 
                <th>Team</th>
                <th></th>
                <th>League</th>
                <th></th>
                <th>Sport</th>
            </tr>
            {% for team in teams %}
            <tr>
                <td><a href="teams/{{ team.id }}"> {{ team.name }} </a></td>
                <td>|</td>
                <td><a href="leagues/{{ team.league.id }}"> {{ team.league.name }} </a></td>
                <td>|</td>
                <td>{{ team.league.sport }}</td>
            </tr>
            {% endfor %}

        </table>
        
    </main>    


{% endblock %}