{% extends 'base.html' %}

{% block content %}

    <main>
        This will be a list of all teams (hyperlinked) from all leagues(hyperlinked).
        <table>
            <tr>
                <th>Team</th>
                <th>League</th>
                <th>Sport</th>
            </tr>
            <tr>
                <td><a href="/teams/team.id">Glasgow Kayak Club</a></td>
                <td><a href="/leagues/league.id">Division 1 19/20</a></td>
                <td>Canoe Polo</td>

            </tr>
        </table>
        
    </main>    


{% endblock %}