body > header {
    background-color: #107896;
    color: whitesmoke;
    font-size: 24px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;
}
body > header > nav > ls {
    padding: 12px;
}
body > header > nav > ls > a > button {
    font-size: 24px;
    background-color: whitesmoke;
    color: #107896;
    border-radius: 12px;
}

body > footer {
    background-color: #107896;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    font-size: 32px;
    color: whitesmoke;
}

body > main {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 8fr 2fr;
}
body > main > aside {
    background-color: #17afdb;
    margin: 0 24px 0 0;
}
body > main > aside ul > li > a > button {
    width: 75%;
    background-color: whitesmoke;
    border-radius: 6px;
    margin: 10px;
}
body > main > main {
    margin: 12px;
}

