{% extends 'base.html' %}

{% block content %}
    <main>
        <h2>Choose the player you want to edit in the drop down box then input his new information</h2>
        <form action="/edit/players/change" method="post">
            <p>
            <label for="player_id">Select a Player:</label>
              <select name="player_id" id="player_id">
                  {% for player in players %}
                      <option value="{{ player.id }}">{{ player.name + "-" + player.team.name}}</option>
                  {% endfor %}
              </select>
            </p>
            <label for="name">Add Name</label>
            <input type="text" name="name" id="name">
            <label for="age">Add Age</label>
            <input type="number" name="age", id="age">
            <label for="number">Shirt/Bib Number(optional)</label>
            <input type="number" name="number" id="number">
            <label for="position">Position(optional)</label>
            <input type="text" name="position" id="position">
            <button type="submit">Edit Player</button>
        </form>
    </main>
{% endblock %}