{% extends 'base.html' %}

{% block content %}

    <main>
        This page will give a list of every player(hyperlinked) as well as his team(hyperlinked) and league(hyperlinked)
        <table>
            <tr>
                <th>Player</th>
                <th></th>
                <th>Team</th>
                <th></th>
                <th>League</th>
                <th></th>
                <th>Sport</th>
            </tr>
            {% for player in players %}
                <tr>
                    <td>{{player.name}}</td>
                    <td>|</td>
                    <td><a href="/teams/{{player.team.id}}">{{player.team.name}}</a></td>
                    <td>|</td>
                    <td><a href="/leagues/{{player.team.league.id}}">{{player.team.league.name}}</a></td>
                    <td>|</td>
                    <td>{{player.team.league.sport}}</td>
                </tr>
            {% endfor %}
        </table>
    </main>    
    

{% endblock %}