{% extends 'base.html' %}

{% block content %}

    <main>
        This page will give a list of every player(hyperlinked) as well as his team(hyperlinked) and league(hyperlinked)
        <table>
            <tr>
                <th>Player</th>
                <th>Team</th>
                <th>League</th>
                <th>Sport</th>
            </tr>
            <tr>
                <td><a href="/players/player.id">Michael Brown</a></td>
                <td><a href="/teams/team.id">Glasgow Kayak Club</a></td>
                <td><a href="/leagues/league.id">Division 1 19/20</a></td>
                <td>Canoe Polo</td>
            </tr>
        </table>
    </main>    
    

{% endblock %}