{% extends 'base.html' %}

{% block content %}
    <main>
        <h4>Start games, add goals, and finish games. Once a game is finished it can no longer be updated. Click on a game for a more detailed scorecard</h4>
        <table class="fixtures">
            <tr class="fixture_headers">
                <th></th>
                <th>Game Number</th>
                <th>Team 1</th>
                <th></th>
                <th></th>
                <th></th>
                <th>Team 2</th>
                <th></th>
                <th class="forced_gap"></th>
                <th>New Goalscorer</th>
                <th class="forced_gap"></th>
                <th></th>
            </tr>
            {% for game in games %}
            <tr>
                <th>
                    {% if game.started == False %}
                        <a href="/edit/leagues/{{league.id}}/start-game/{{game.id}}"><button>Start Game</button></a>
                    {% endif %}
                </th>
                {% if game.started %}
                    <th><a href="/edit/games/{{ game.id }}">{{ game.game_no }}</a></th>
                {% else %}
                    <th>{{ game.game_no }}</th>
                {% endif %}
                <th><a href="/teams/{{ game.team_1.id }}">{{ game.team_1.name }}</a></th>
                <th>
                    {% if game.started %}
                    {{ game.team_1_score }}
                    {% endif %}
                </th>
                <th>vs</th>
                <th>
                    {% if game.started %}
                    {{ game.team_2_score }}
                    {% endif %}
                </th>
                <th><a href="/teams/{{ game.team_1.id }}">{{ game.team_2.name }}</a></th>
                <th>
                    {% if game.started %}
                        {% if game.finished %}
                            Result
                        {% else %}
                            Live
                        {% endif %}
                    {% endif %}
                </th>
                <th></th>
                <th>
                    <form action="/edit/leagues/{{league.id}}/new-goal/{{game.id}}" method="post">
                        <select name="player_id" id="player">
                            {% for player in players %}
                                {% if player.team.id == game.team_1.id %}
                                    <option value="{{player.id}}">{{player.team.name}} - {{player.name}}</option>
                                {% endif %}
                                {% if player.team.id == game.team_2.id  %}
                                    <option value="{{player.id}}">{{player.team.name}} - {{player.name}}</option>
                                {% endif %}
                            {% endfor %}                         
                        </select>
                        <button type="submit">Add Goal</button>   
                    </form>
                </th>
                <th></th>
                <th>
                    {% if game.started %}
                        <a href="/edit/leagues/{{league.id}}/finish-game/{{game.id}}"><button>Finish Game</button></a>
                    {% endif %}
                </th>
            </tr>
            {% endfor %}
        </table>
        {% if games == [] %}
            There are no more games left to play.
        {% endif %}
    </main>
{% endblock %}