<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
        {% if editing %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/editing.css') }}">
        {% endif %}
        {% if creating %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/creating.css') }}">
        {% endif %}

    </head>
    <body>
        <header>
            <h1>{{ title }}</h1>
            <nav>
                <ls>
                    <a href="/"><button>Homepage</button></a>
                </ls>
                <ls>
                    <a href="/edit"><button>Edit Leagues</button></a>
                </ls>
            </nav>
        </header>
        <main>
            {% block content %}
                
            {% endblock %}
            <aside>
                <ul>
                    {% if editing %}
                        <li>
                            <a href="/edit/create-new"><button>Create League</button></a>
                        </li>
                        <li>
                            <a href="/edit/teams"><button>Remove Team</button></a>
                        </li>
                        <li>
                            <a href="/edit/players"><button>Add Players</button></a>
                        </li>
                        <li>
                            <a href="/edit/games/pick-league"><button>Update Games</button></a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/leagues"><button>View Leagues</button></a>
                        </li>
                        <li>
                            <a href="/teams"><button>View All Teams</button></a>
                        </li>
                        <li>
                            <a href="/players"><button>View All Players</button></a>
                        </li>
                    {% endif %}
                </ul>
            </aside>
        </main>
        <footer>
            &#169; MikeyGames Ltd.
        </footer>
    </body>
</html>