{% extends 'base.html' %}

{% block content %}

    <main>
        <!-- This page will show all current leagues(hyperlinked) -->
        <table>
            <tr>
                <th>League Name</th>
                <th></th>
                <th>Sport</th>
            </tr>
            {% for league in leagues %}
            <tr>
                <td><a href="leagues/{{ league.id }}"> {{ league.name }} </a></td>
                <td>|</td>
                <td>{{ league.sport }}</td>
            </tr>    
            {% endfor %}
        </table>
        
    </main>    
    

{% endblock %}
